<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>
<body>
    <h1 align="center">ALL PRODUCTS</h1>
    <table border="1" align="center" style="width: 60%;">
        <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Price</th>
                     
           

            {% if request.user.is_staff %}
                <th>Edit</th>
                <th>Delete</th>

            {% endif %}
        </tr>

        {% for x in data %}

        <tr>
            <td><img src="{{ x.image.url }}" style="height: 250px; width: 250px;"></td>
            <td><a href="/products/details/{{ x.id }}">{{ x.prod_name }}</a></td>
            <td>{{x.price}}</td>
            <td><a href="/add_to_cart/{{ x.id }}">Add To Cart</a></td>
            
            
            {% if request.user.is_staff %}
                <td><a href="/products/view/update/{{ x.id }}">Edit</a></td>
                <td><a href="/products/view/delete/{{ x.id }}">Delete</a></td>

            {% endif %}

        </tr>

        {% endfor %}
    </table>

    <h3 align="center" border="1"><a href="/">Home</a></h3>
</body>

</html>